/*

chat.css --- Mususu chat style sheet

*/

html {
  --timejs-serialization: dtsjp1;
}

body	{background-color: Window; color: WindowText}

h1, .chat_title
	{font: Caption; color: CaptionText; background-color: ActiveCaption;
	border-color: Highlight;
	border-style: none    none    solid   solid;
	border-width: 1px     1px     1px     0.5em;
	margin: 0; padding-left: 0.2em}
	.chat_count	{font-size: xx-small}

h2 {
  background-color: black;
  border: solid black 1px;
  color: white;
  font: Caption;
}

  address {border-style: solid   none    none    solid;
                      border-width: 1px     1px     1px     0.5em;
                      padding:      0.2em   0em     0em     0.2em;
                      border-color: WindowFrame; margin: 0.1em;
                      background-color: InfoBackground;
                      color: InfoText}



/* font */
  a:hover	{background: #ffa; color: #000080}
  a:hover:active	{color: red}
  a:hover img	{border: 1px solid #ffa}
  .xbm_font	{width: 16px; height: 16px; vertical-align: bottom}
  a:link img.xbm_font, a:visited img.xbm_font, a:active img.xbm_font
  	{border-style: none none solid none; border-size: 1px}


/* ranking */
  table#ranking	{table-layout:fixed}
  table#ranking th, table#ranking td
  , td.rank,th.rank
  	{border-bottom: 1px dotted WindowText}
  table#ranking th
  , th.rank
  	{background: Highlight; color: HighlightText;
  	border-top: 1px dotted WindowText; font: Caption}
  table#ranking td.level	{text-align: center}
  table#ranking td.name	{text-align: left}
  table#ranking td.count	{text-align: right}

/* message */
	.pub_comment , .pvt_comment, .msg
		{border-bottom: 1px dotted ActiveBorder; margin: 8px 3px 8px 3px;
		text-indent: 0; text-align: left}
	.pub_comment_name, .pvt_comment_name, 
	#myname, .msg .name
		{font-weight: bolder}
.msg .body
	{}
.date	{/* float: right;
	margin-top: -2em; */
	font: Status-Bar; color: GrayText}
	
.ministatus
	{text-indent: 0; margin: 0; border-style: outset;
	border-width: 1px;
	color: MenuText; background-color: Menu; font: menu}
.ministatus .desc
	{font: Status-Bar; color: GrayText}

/* form */
	#fst #chat_input	{margin: 0 1em}
	#snd #chat_input	{margin: 0}
		#chat_input p	{margin: 0; text-indent: 0}
		#chat_input .fstline	{}
		#chat_input .sndline	{margin-left: 1em}
		#chat_input .trdline	{margin-left: 1em}
		input#name, input#email, select, input#in, input#mail,
		input#comment, input#say, input#recover, input#ogo
			{font-size: 100%;
			border-style: none none solid none;
			border-color: WindowText; border-size: 1px;
			padding: 0; margin: 0}
		/* ime-mode attr. is IE-extension.  Non-standard. */
		input#name	{width: 15em; ime-mode: active}
		input#email, input#mail	{width: 13em; ime-mode: inactive}
		select option
			{font-size: 100%; background-color: Window;
			color: WindowText}
		input#in, input#say, input#recover, input#ogo
			{color: blue; background-color: Window;
			border-style: none;
			text-decoration: underline;
			background-color: Window;
			cursor: hand}
		
		input#comment	{width: 30em; ime-mode: active}
	#chat_main_links	{margin: 0; text-indent: 0}
	.chat_linklist     {text-indent: 0; margin: 0}

/* usage */
	.usage	{color: InfoText; background-color: InfoBackground}
	.usage strong	{color: Highlight}

sw-ads-notes:not([hidden]) {
  display: block;
}
sw-ads-notes {
  margin-top: 3em;
  font-size: 60%;
}

/*

License: Public Domain.
Author: wakaba <wakaba@suikawiki.org>.

*/
